@import "../../../../styles/colors.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.password {
    display: flex;

    &__actions {
        width: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-top: 5px;
    }
}

:host-context(.form-field_error) {
    input {
        border: 1px solid $error;
    }
}