<div class="password">
    <input
        type="text"
        class="app-input"
        [value]="value"
        [placeholder]="placeholder || 'Password'"
        [attr.disabled]="isDisabled ? true : null"
        (keyup)="onKeyup($event.target.value)"
        (blur)="onBlur()"
        [attr.type]="passwordType"
    />
    <mat-icon class="password__actions" (click)="togglePassword()">
        <span *ngIf="value">{{
            passwordType === 'password' ? 'visibility' : 'visibility_off'
        }}</span>
    </mat-icon>
</div>
